<?xml version="1.0" encoding="utf-8"?>
<WPinternalsConfig>
  <FlashProfiles>
    <FlashProfile>
      <Type>RM-1127</Type>
      <PlatformID>Microsoft.MSM8909.P6236.2.0</PlatformID>
      <ProductCode>059X506</ProductCode>
      <PhoneFirmware>01078.00042.16352.50000</PhoneFirmware>
      <FfuFirmware>01078.00042.16352.50000</FfuFirmware>
      <Profile>AQAABgAAAAgAAg==</Profile>
    </FlashProfile>
  </FlashProfiles>
  <FFURepository>
    <FFUEntry>
      <PlatformID>Microsoft.MSM8909.P6236</PlatformID>
      <FirmwareVersion>01078.00042.16352.50000</FirmwareVersion>
      <OSVersion>10.0.10586.494</OSVersion>
      <Path>C:\Users\xFSDev\Downloads\Compressed\RM1127_1078.0042.10586.13333.15177.03546E_retail_prod_signed.ffu</Path>
    </FFUEntry>
    <FFUEntry>
      <PlatformID>Microsoft.MSM8909.P6236</PlatformID>
      <FirmwareVersion>01078.00042.16352.50000</FirmwareVersion>
      <OSVersion>10.0.10586.494</OSVersion>
      <Path>C:\Users\xFSDev\Desktop\WPinternals-2.9.2 (ProjectA)\RM1127_1078.0042.10586.13333.15177.03546E_retail_prod_signed.ffu</Path>
    </FFUEntry>
  </FFURepository>
  <EmergencyRepository>
    <EmergencyFileEntry>
      <Type>RM-1127</Type>
      <ProgrammerPath>C:\Users\xFSDev\Documents\RM\RM-1127\Manufacturing SW Package\MPRG8909_fh.ede</ProgrammerPath>
      <RKH>56BDC3746226E080146D4D30C8C8432657A5282F050B1994CFE84971C586FAB9</RKH>
    </EmergencyFileEntry>
    <EmergencyFileEntry>
      <Type>RM-1127</Type>
      <ProgrammerPath>C:\Users\xFSDev\Desktop\WPinternals-2.9.2 (ProjectA)\MPRG8909_fh.ede</ProgrammerPath>
      <RKH>56BDC3746226E080146D4D30C8C8432657A5282F050B1994CFE84971C586FAB9</RKH>
    </EmergencyFileEntry>
  </EmergencyRepository>
</WPinternalsConfig>